/* *{
    text-decoration: none;
    margin: 0;   
} */
nav{
    display: flex;
    list-style-type: none;
    background:chartreuse;
    padding: 8px;
    justify-content: space-evenly;
    font-size: large;
}